@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Suez+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

.italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    background: url(img/pexels-pavel-danilyuk-6461323.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

h1{
    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #ce4bc3;
    text-shadow: rgb(38, 38, 35, 0.5) 2px 5px 5px;
}

p{
    font-size: 20px;
    color: #fff;
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-shadow: rgb(38, 38, 35, 0.5) 2px 5px 5px;
}
}

a{
    text-decoration: none;
}