<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/servicos.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Serviços de Costura</title>
</head>
<body>
    <header>
    <!-- Menu Hamburguer -->
    <i class='bx bx-menu' onclick="toggleMenu()"></i>
    <nav id="menu" class="menu">
       <button class="close-btn" onclick="toggleMenu()">X</button>
       <ul>
           <li><a href="/index.html">Página Inicial</a></li>
           <br>
           <li><a href="/templates/servicos.html">Serviços</a></li>
           <br>
           <li><a href="/templates/sobre.html">Sobre</a></li>
           <br>
           <li><a href="#icons">Contato</a></li>
       </ul>
   </nav>
        <div class="home">
            <a href="/index.html"><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="container">
            <h1>Serviços de Costura</h1>
            <p>Consertos, ajustes e criando suas roupas.</p>
        </div>
    </header>

    <div class="container">
        <!-- Serviços -->
        <section id="services">
            <h2>Nosso Serviços</h2>
            <div class="services">
                <div class="service">
                    <h3>Ajustes de Roupa</h3>
                    <p>Oferecemos ajustes para roupas como calças, vestidos, saias e muito mais, garantindo que as peças fiquem perfeitas para o seu corpo.</p>
                </div>
                <div class="service">
                    <h3>Consertos de Roupas</h3>
                    <p>Consertamos rasgos, furos, zíperes quebrados, botões e outros pequenos problemas nas suas roupas.</p>
                </div>
                <div class="service" id="service">
                    <h3>Criando do Seu Jeito</h3>
                    <p>Feita com base em um modelo desenhado por você ou mesmo com um esboço no papel, criamos roupas exclusivas e sob medida para o seu estilo.</p>
                </div>
            </div>
        </section>
        <!-- WhatsApp -->
        <section>
            <a href="https://wa.me/5586995251010" class="whatsapp-btn" target="_blank">
                Fale Conosco pelo WhatsApp
            </a>
        </section>
    </div>
    
    <footer>
        <p>&copy; 2025 Serviços de Costura | Todos os direitos reservados.</p>
    </footer>


    <script src="/assets/js/script.js"></script>
</body>
</html>
